@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Montserrat:wght@100;200;400;500;600;700;900&family=Mynerve&family=Nunito:wght@200;400;500;600;700;900&family=PT+Mono&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
border: 1px dashed red;
}


html,
body,
#root,
.app{
    height:100%;
    width:100%;
    font-family: "DM Sans", snas-serif;;
    @apply text-gray-500;
}









